<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/admin.css" />
	</head>
	<body>
		<div id="box">
			<div class="header">
				<img src="./img/admin/admin.png">
				<p>管理员</p>
				<a class="index" href="login.html">退出登录&nbsp;</a>
				<a class="index" href="index.html">商城首页&nbsp;</a>
			</div>
			<div class = "bar">
				<ul>
					<li v-for="(item , index) in tarlist" :key="index" :class="index==mark?'active':''" @click="mark=index">
						<a :href="item.href">{{item.name}}</a>
						<!-- <a href="adminMoney.html"></a> -->
					</li>
				</ul>	
			</div>
			<div class="container">	
				<table>
					<tr class="first">
						<td colspan="4" style="border: none;">
							选择轮播状态
							<select v-model="statuskey">
								<option  value="2">所有轮播图</option>
								<option value="1">正在轮播</option>
								<option  value="0">未轮播</option>
							</select>
						</td>
					</tr>
					<tr class="second">
						<td>序号</td>
						<td>轮播图</td>
						<td>是否轮播</td>
						<td>操作</td>
					</tr>
					<tr v-for="(item , index) in getDatalist " :key="index">
						<td>{{item.carouselId}}</td>
						<td>
							<img v-bind:src="item.carouselImg | getImgUrl" class="indexCarousel">
						</td>
						<td>{{item.carouselStatus | getStatus}}</td>
<!-- 						<td>
							<button class="success" @click="handleClick(item)">轮播</button>
							<button class="fail" @click="handleClick(item)">不轮播</button>
						</td> -->
						<td v-if="item.carouselStatus==0">
							<button class="success" @click="handleClick(item,1)">轮播</button>
						</td>
						<td v-if="item.carouselStatus==1">
							<button class="fail" @click="handleClick(item , 0)">不轮播</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/axios.js"></script>
		<script type="text/javascript" src="js/cookie_utils.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript">
			var baseUrl = "http://localhost:8080"
			var vm = new Vue({
					el:"#box",
					data:{
						tarlist:[],
						datalist:[],
						mark:4,
						statuskey:2
					},
					computed:{
						getDatalist(){
							if(this.statuskey==2){
									return this.datalist
							}else{
								return this.datalist.filter(item=>item.carouselStatus==this.statuskey)
							}
						}
					},
					methods:{
						getTarlist(){
							axios.get("./json/data.json")
								.then(res=>{
									this.tarlist=res.data.data.admin
								}).catch(err =>{
									console.log(err)
								})
						},
						doUpdate(item){
							var url = "http://localhost:8080/admin/checkcarousel"
							axios({
								method:'put',
								url:url,
								headers:{
									token:getCookieValue("token")
								},
								data:item
							}).then((res)=>{
								console.log("res",res.data)
								if(res.data.code==10000){
									this.onCreated();
								}else{
									alert(res.data.msg)
								}
							})
						},
						handleClick(item , status){
							var flag;
							console.log("status ",status)
							if(status == 1){
								flag = confirm("确认轮播吗？")
							}else if(status == 0){
								flag = confirm("确认取消轮播吗？")
							}

							if(flag){
								item.carouselStatus = status;
								this.doUpdate(item);
							}
						},
						onCreated(){
							var token = getCookieValue("token");
							console.log(token)
							//获取全部轮播图数据
							url = baseUrl+"/carousel/list"
							axios.get(url, {
								headers: {
									token: token
								}
							}).then((res) => {
								if (res.data.code == 10000) {
									console.log(res.data)
									this.datalist = res.data.data
								} else {
									alert(res.data.msg)
									//window.location.href = "login.html"
								}
							
							})
						}
					},
					filters:{
						getImgUrl(img) {
							return "img/index/" + img;
						},
						getStatus(status){
							if(status==0){
								return "否"
							}else if(status==1){
								return "是"
							}
						}
					},
					created(){
						this.getTarlist();
						this.onCreated();
					}
				})
		</script>
	</body>
</html>
