* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

/* 头部样式 */
.header {
	height: 30px;
}

.header p {
	float: left;
	line-height: 30px;
	/* font-size: 20px; */
	margin-left: 20px;
}

.header a {
	text-decoration: none;
}

.header_ul {
	list-style: none;
	margin-right: 0px;
}

.header_ul li {
	float: right;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
}

.header_ul a:hover {
	color: #FF0000;
}
.header_ul a{
	color: #000000;
}

.header .active {
	color: #FF0000;
}

/* 头部样式完毕 */
