* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	/* background-color: #F0F8FF; */
	/* background-color:#FFFFcc; */
	background-color:#fffff4;
}

.header {
	width: 100%;
	background-color: #ff9966;
	margin: 0 auto;
	height: 80px;
	line-height: 70px;
	position: sticky;
	top: 0px;
}

.header img {
	width: 60px;
	height: 60px;
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 50%;
}

.header p {
	display: inline-block;
	font-size: 30px;
	margin-top: 0px;
	position: fixed;
	color: #F0F8FF;
}
.header .index{
	float: right;
	/* margin-top: 0px; */
	text-decoration: none;
	color: #000000;
	/* position: fixed; */
	/* margin-top: 0;
	margin-right: 0; */
}

.bar {
	width: 100%;
	background-color: #ffffff;
	margin: 0 auto;
	height: 30px;
	/* margin-top: 10px; */
}

.bar ul {
	list-style: none;
	/* display: flex;
				justify-content: space-around; */
}

.bar ul li {
	line-height: 30px;
	width: 25%;
	text-align: center;
	float: left;
	/* display: flex; */
	/* background-color: #00BFBF; */
}

.bar ul li:hover {
	color: #ff9966;
	/* 				border-bottom: 2px solid #00BFBF; */
}
.bar a{
	text-decoration: none;
	color: #000000;
}

.bar .active {
	/* color: #ffffff; */
	color: #ff9966;
	border-bottom: 2px solid #ff9966;
	/* background-color: #66ccff; */
}

.container {
	width: 90%;
	/* background-color: #F2F2F2; */
	margin: 0 auto;
	/* height: 50px; */
}
.container table{
	margin-top: 10px;
	width: 100%;
	border: 1px solid #808080;
	border-collapse: collapse;
	
}
.container td{
	text-align: center;
	width: 10%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #808080;
}
.container button{
	color: #ffffff;
	border: none;
	height: 30px;
	width: 50px;
	
}
.first{
	background-color: #F2F2F2;
	position: sticky;
	border: none;
	top: 80px;
}
.second{
	background-color: #F0F8FF;
	position: sticky;top: 115px;
}
.container input{
	height: 23px;
}
select{
	height: 25px;
	width: 180px;
}
.container img{
	width: 150px;
}
.success{
	background-color: #00BFBF;
	color: #ffffff;
	border: none;
	height: 30px;
	width: 50px;
}

.fail{
	background-color: #FF0000;
	color: #ffffff;
	border: none;
	height: 30px;
	width: 50px;
}
.recommend{
	background-color: #99CCFF;
	color: #ffffff;
	border: none;
	height: 30px;
	width: 50px;
}
.container .scaleinput{
	width: 30px;
	text-align: center;
}
.container .scalebutton{
	color: #000000;
	background-color: #99CCFF;
	width: 20px;
}
.container .indexCarousel{
	width: 400px;
}

.sellerinput{
	width: 100%;
	height: 100%;
	font-size: 20px;
	outline: none;
	border: none;
	height: 100px;
	background-color: #fffff4;
}
.submit{
	background-color: #00BFBF;
	border-radius: 0;
	float: right;
	width: 100px;
	height: 40px;
	color: white;
	font-size: 15px;
	border: none;
}

