<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.SellerDao">
    <resultMap id="seller" type="Seller">
        <id  column="seller_id" property="sellerId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_password" property="userPassword"></result>
        <result column="user_email" property="userEmail"></result>
        <result column="user_phone" property="userPhone"></result>
        <result column="user_city" property="userCity"></result>
        <result column="user_card" property="userCard"></result>
        <result column="user_status" property="userStatus"></result>
        <result column="user_img" property="userImg"></result>
        <result column="user_wecat" property="userWecat"></result>
        <result column="user_account" property="userAccount"></result>
        <result column="user_score" property="userScore"></result>
        <result column="seller_scale" property="sellerScale"></result>
        <result column="user_sale" property="userSale"></result>
        <result column="user_comments" property="userComments"></result>
        <result column="seller_paper" property="sellerPaper"></result>
    </resultMap>

    <select id="getSellerByOrderItemId" resultMap="seller">
        select
            sellers.seller_id,
            user_name,
            user_password,
            user_phone,
            user_email,
            user_city,
            user_card,
            user_status,
            user_img,
            user_wecat,
            user_account,
            user_score,
            seller_scale,
            user_sale,
            user_comments,
            seller_paper
        from sellers
                 join goods on goods.seller_id = sellers.seller_id
                 join orderitem on orderitem.goods_id = goods.goods_id
        where orderitem.orderItem_id=#{id}

    </select>
</mapper>